/.settings/
/.project

/dspace-xmlui-mirage2/target
/dspace-xmlui/target
/dspace/modules/xmlui-mirage2/target
/dspace/target
/dspace/modules/xmlui/target
/dspace/modules/swordv2/target
/dspace/modules/sword/target
/dspace/modules/solr/target
/dspace/modules/rest/target
/dspace/modules/rdf/target
/dspace/modules/oai/target
/dspace/modules/jspui/target
/dspace/modules/additions/target
/dspace/config/local.cfg
/dspace-api/target
/dspace-jspui/target
/dspace-oai/target
/dspace-rdf/target
/dspace-rest/target
/dspace-services/target
/dspace-solr/target
/dspace-sword/target
/dspace-swordv2/target
/permissaoTarget.sh
/dspace/modules/additions/.project
/dspace/modules/additions/.settings
/dspace/modules/additions/.classpath
/dspace/modules/rest/.settings
/dspace/modules/rest/.classpath
/dspace/modules/rest/.project
/dspace-jspui/.classpath
/dspace-jspui/.project
/dspace-jspui/.settings/
/dspace-oai/.classpath
/dspace-oai/.project
/dspace-oai/.settings/
/dspace-rdf/.classpath
/dspace-rdf/.project
/dspace-rdf/.settings/
/dspace-rest/.classpath
/dspace-rest/.project
/dspace-rest/.settings/
/dspace-services/.classpath
/dspace-services/.project
/dspace-services/.settings/
/dspace-solr/.classpath
/dspace-solr/.project
/dspace-solr/.settings/
/dspace-sword/.classpath
/dspace-sword/.project
/dspace-sword/.settings/
/dspace-swordv2/.classpath
/dspace-swordv2/.project
/dspace-swordv2/.settings/
/dspace-xmlui-mirage2/.classpath
/dspace-xmlui-mirage2/.project
/dspace-xmlui-mirage2/.settings/
/dspace-xmlui/.classpath
/dspace-xmlui/.project
/dspace-xmlui/.settings/
/dspace/modules/additions/src/main/java/org/dspace/handle/
/dspace/modules/jspui/.classpath
/dspace/modules/jspui/.project
/dspace/modules/jspui/.settings/
/dspace/modules/oai/.classpath
/dspace/modules/oai/.project
/dspace/modules/oai/.settings/
/dspace/modules/rdf/.classpath
/dspace/modules/rdf/.project
/dspace/modules/rdf/.settings/
/dspace/modules/solr/.classpath
/dspace/modules/solr/.project
/dspace/modules/solr/.settings/
/dspace/modules/sword/.classpath
/dspace/modules/sword/.project
/dspace/modules/sword/.settings/
/dspace/modules/swordv2/.classpath
/dspace/modules/swordv2/.project
/dspace/modules/swordv2/.settings/
/dspace/modules/xmlui/.settings/
## Ignore the MVN compiled output directories from version tracking
target/

## Ignore tags index files created by Exuberant Ctags
tags

## Ignore project files created by Eclipse
.settings/
.project
.classpath

## Ignore project files created by IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
overlays/

## Ignore project files created by NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
META-INF/

## Ignore all *.properties file in root folder, EXCEPT build.properties (the default)
## KEPT FOR BACKWARDS COMPATIBILITY WITH 5.x (build.properties is now replaced with local.cfg)
/*.properties
!/build.properties

# Ignore a local.cfg file in root folder, if it exists
/local.cfg
# Also ignore it under dspace/config
/dspace/config/local.cfg

##Mac noise
.DS_Store
